/*! normalize-ish.css | MIT License | github.com/necolas/normalize.css */

* {
	box-sizing: border-box;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}


/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


/* LAYOUT STYLES
   ========================================================================== */
.container {
	margin: 0px auto;
	width: 70%;
}

.content {
	margin-right: 380px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/* COLUMN STYLES
   ========================================================================== */

.col {
	padding: 1em;
}

/* MODULE STYLES
  ========================================================================== */

.sinister {
	width: 180px;
	background: #ccc;
}

.center {
	width: 100%;
	margin-right: -380px;
}

.dexter {
	width: 200px;
  background: #eee;
}

/* UTILITIES
   ========================================================================== */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
